{
    "presets": [["@babel/preset-env",{
        "targets":{
           
            "edge":"15",
            "safari":"10",
            "firefox":"50",
            "chrome":"49",
        }
    }], "@babel/preset-react"]
}